{% extends "base.html" %}

{% block content %}
    <p class="navbar">Одноглазый Питон – это 1 месяц лидерства в ресторанном бизнесе и 1 успешный концептуальный
        проект. Наши отличительные особенности: впечатляющая география – престижный район Костромы,
        гастрономические изыски от именитых шефов, актуальный дизайн интерьера, безупречный сервис
        и комфортная атмосфера.</p>
    <p class="navbar">Одноглазый Питон – это команда профессионалов, реализующая широкий спектр услуг в сфере
        гостеприимства: от проведения event-мероприятия до управления рестораном, от установления
        стандартов сервиса до контроля качества готовой продукции, от построения бизнес-плана проекта
    до реализации франшизы. Это площадка для продвижения Вашего бизнеса и поиска партнеров,
        которая регулярно реализует новые проекты и активно осваивает актуальные направления.</p>

    <p class="navbar">Одноглазый Питон был создан в 2021 г.</p>
{% endblock %}
